<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="header">
		<div id="logo" style="float:left;"><a href='/'>BlinkShare</a></div>
		<div id="account" style="float:right;"><a href='/getin.html'>Login</a></div>
	</div>
	<div class="main">
	<form name="login" action="/getin.html" method="post">
		<span>Username: </span><input type="text" name="username" />
		</br>
		<span>Password: </span><input type="password" name="password" />
		</br>
		<input type="submit" name='getin' value="Login" />
		<input type="submit" name='getin' value="Signup" />
	</form>
	</div>
</body>
</html>